@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");

.main {
  min-height: calc(100vh - 4rem - 224px);
}

.drawer {
  display: grid;
  overflow: hidden;
}

.carousel-container {
  display: block;
  overflow: hidden;
  width: 100%;
}

.carousel-container .carousel-slide {
  height: 700px;
}

.carousel__viewport .carousel__slide {
  display: flex;
  justify-content: center;
  height: 700px;
}

.carousel-container .carousel__slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card figure img {
  max-width: 50%;
  max-height: 50%;
}

.card:hover .transition-transform {
  transform: scale(1.25);
}

figure[data-v-73581b5a] {
  min-width: 20em;
}

@media screen and (max-width: 1024px) {
  .carousel-container .carousel__slide {
    height: 220px;
  }
}

@media screen and (max-width: 1024px) {
  .carousel-container .carousel__slide .carousel-description {
    bottom: 0;
  }
}
